header{
  background:transparent;
  padding: 25px 0;
  position: absolute;
  width: 100%;
  z-index: 999;
  &.fixed{
    position: relative;
    .ant-row{
      border-bottom: 1px solid rgba(0,0,0,0.07);
      padding-bottom: 30px;
    }
    .menu{
      ul{
        li{
          color: #1758FF;
          a{
            color: #707581;
          }
        }
      }
    }
  }
  .menu{
    display: flex;
    align-items: center;
    justify-content: end;
    ul{
      display: inline;
      padding: 0;
      margin: 0;
      li{
        display: inline;
        margin: 0 20px;
        color: white;
        a{
          color: white;
          text-decoration: none;
          font-size: 16px;
        }
      }
    }
  }
}