:root {
  //Theme Color
  --theme-font: 'Poppins', sans-serif;
  --theme-background-color:white;
  --theme-header-color:white;
  --theme-footer-color:var(--theme-font-color);
  --theme-primary:green;
  --theme-primary-rgb:251, 147, 0;
  --theme-secondary: #2B3755;
  --theme-border-color:#e7e7e7;
  --theme-offer-color:rgba(210, 33, 33,0.1);
  //Theme Fonts
  --theme-font-color: #000000;
  --theme-heading-color:#000000;
  --theme-para-color:#828482;
  --theme-body-color:#000000;

  //  Theme Slider Color
  --slider-header-color:#ffffff;
  --slider-header-font-color:green;
  --slider-hover-border-color:green;
  --slider-arrow-color:green;
  // Product Card
  --product-card-btn-background:white;
  --product-card-btn-color:#000000;

  //  Theme Modal
  --theme-modal-mask-bg:rgba(255, 255, 255, 0.5);
  --theme-modal-content-bg: rgba(255, 255, 255, 0.4);
  --theme-modal-content-bs:  rgba(0, 0, 0, 0.15);
  --theme-modal-border:  white;

  //sticky cart
  --stiky-cart-border:white;

  //  off canvas
  --offcanvas-backdrop-o:0.4;

  //  [data-theme='foodpanda'] {
  //    //Theme Color
  //    --theme-background-color:white;
  //    --theme-header-color:white;
  //    --theme-footer-color:#e7e7e7;
  //    --theme-primary:#E0942F;
  //
  //    --theme-secondary:#000000;
  //    --theme-border-color:#e7e7e7;
  //    --theme-offer-color:rgba(210, 33, 33,0.1);
  //    //Theme Fonts
  //    --theme-font-color: #000000;
  //    --theme-heading-color:#000000;
  //    --theme-para-color:#828482;
  //    --theme-body-color:#000000;
  //
  //    //  Theme Slider Color
  //    --slider-header-color:#ffffff;
  //    --slider-header-font-color:#000000;
  //    --slider-hover-border-color:#E0942F;
  //    --slider-arrow-color:#E0942F;
  //    // Product Card
  //    --product-card-btn-background:white;
  //    --product-card-btn-color:#000000;
  //
  //    //  Theme Modal
  //    --theme-modal-mask-bg:rgba(255, 255, 255, 0.5);
  //    --theme-modal-content-bg: rgba(255, 255, 255, 0.4);
  //    --theme-modal-content-bs:  rgba(0, 0, 0, 0.15);
  //    --theme-modal-border:  white;
  //
  //    //sticky cart
  //    --stiky-cart-border:white;
  //
  //    //  off canvas
  //    --offcanvas-backdrop-o:0.4;
  //  }
  //  [data-theme='papa'] {
  //    //Theme Color
  //    --theme-background-color:white;
  //    --theme-header-color:white;
  //    --theme-footer-color:#e7e7e7;
  //    --theme-primary:#0F9675;
  //    --theme-secondary:#000000;
  //    --theme-border-color:#e7e7e7;
  //    --theme-offer-color:rgba(210, 33, 33,0.1);
  //    //Theme Fonts
  //    --theme-font-color:#000000 ;
  //    //  Theme Slider Color
  //    --slider-header-color:#B8170F;
  //    --slider-header-font-color:white;
  //    --slider-hover-border-color:white;
  //    --slider-arrow-color:white;
  //    // Product Card
  //    --product-card-btn-background:#0F9675;
  //    --product-card-btn-color:white;
  //
  //    //  Theme Modal
  //    --theme-modal-mask-bg:rgba(255, 255, 255, 0.5);
  //    --theme-modal-content-bg: rgba(255, 255, 255, 0.4);
  //    --theme-modal-content-bs:  rgba(0, 0, 0, 0.15);
  //    --theme-modal-border:  white;
  //
  //    //sticky cart
  //    --stiky-cart-border:white;
  //
  //    //  off canvas
  //    --offcanvas-backdrop-o:0.4;
  //  }
  //  [data-theme='serve-easy'] {
  //    //Theme Color
  //    --theme-background-color:white;
  //    --theme-header-color:white;
  //    --theme-footer-color:var(--theme-font-color);
  //    --theme-primary:var(--theme-primary);
  //    --theme-primary-rgb:251, 147, 0;
  //    --theme-secondary:#000000;
  //    --theme-border-color:#e7e7e7;
  //    --theme-offer-color:rgba(210, 33, 33,0.1);
  //    //Theme Fonts
  //    --theme-font-color: #000000;
  //    --theme-heading-color:#000000;
  //    --theme-para-color:#828482;
  //    --theme-body-color:#000000;
  //
  //  //  Theme Slider Color
  //    --slider-header-color:#ffffff;
  //    --slider-header-font-color:#000000;
  //    --slider-hover-border-color:var(--theme-primary);
  //    --slider-arrow-color:var(--theme-primary);
  //    // Product Card
  //    --product-card-btn-background:white;
  //    --product-card-btn-color:#000000;
  //
  //    //  Theme Modal
  //    --theme-modal-mask-bg:rgba(255, 255, 255, 0.5);
  //    --theme-modal-content-bg: rgba(255, 255, 255, 0.4);
  //    --theme-modal-content-bs:  rgba(0, 0, 0, 0.15);
  //    --theme-modal-border:  white;
  //
  //    //sticky cart
  //    --stiky-cart-border:white;
  //
  //    //  off canvas
  //    --offcanvas-backdrop-o:0.4;
  //  }
  //  [data-theme='kfc'] {
  //    //Theme Color
  //    --theme-background-color:#000000;
  //    --theme-header-color:#000000;
  //    --theme-footer-color:#1C1816;
  //    --theme-primary:#E4002B;
  //    --theme-secondary:#000000;
  //    --theme-border-color:#3F3F3F;
  //    --theme-offer-color:white;
  //    //Theme Fonts
  //    --theme-font-color: white;
  //    --theme-heading-color:white;
  //    --theme-para-color:#828482;
  //    --theme-body-color:white;
  //
  //    //  Theme Slider Color
  //    --slider-header-color:#000000;
  //    --slider-header-font-color:white;
  //    --slider-hover-border-color:#E4002B;
  //    --slider-arrow-color:#E4002B;
  //    // Product Card
  //    --product-card-btn-background:white;
  //    --product-card-btn-color:#000000;
  //
  //    //  Theme Modal
  //    --theme-modal-mask-bg:rgba(0, 0, 0, 0.5);
  //    --theme-modal-content-bg: rgba(0, 0, 0, 0.4);
  //    --theme-modal-content-bs:  rgba(0, 0, 0, 0.15);
  //    --theme-modal-border:  #3F3F3F;
  //
  //    //sticky cart
  //    --stiky-cart-border:white;
  //
  //    //  off canvas
  //    --offcanvas-backdrop-o:0.4;
  //  }
  //
  //  //Changeable
  //  --background: white;
  //  --background-smoke:#f5f5f5;
  //  --background-layouts:#f5f5f5;
  //  --text-color-white: #fff;
  //  --text-color-dark: #333;
  //  -text-color-greyblue-:#516377;
  //  --logo-text:#F1F1F1;
  //
  //  //Borders
  //  --theme-border:transparent;
  //  --theme-border-light:#E1E1E1;
  //  --ant-table-border:#f0f0f0;
  //  --ant-table-td-border:rgba(0, 0, 0, 0.09);
  //  --ant-table-tr-hover:#fafafa;
  //  --nested-table-td-border:#f0f0f0;
  //  --modal-border:#f0f0f0;
  //
  //  //Box Shadows
  //  --theme-shadow:rgba(0,0,0,0.05);
  //
  //  //Font
  //  --bs-body-font-family:'Inter', sans-serif;
  //  --theme-font:'Inter', sans-serif;
  //  --header-heading:#2D4047;
  //  --tab-heading-colors:#0C1F41;
  //  --theme-grey-text:#646C7C;
  //  --theme-grey-text-white:#646C7C;
  //  --theme-label-color:#4D5464;
  //  --theme-silver-text:#DEDEDE;
  //
  //  //View Card
  //  --view-card-background:#fff;
  //  --view-card-border:#d4d8ddb0;
  //  //UnChangeable
  //  --text-color-primary:#0178e5;
  //  --text-color-silver:#646C7C;
  //
  //  //    Sidenav
  //  --sidenav-color : #1C212D;
  //  --sidenav-text-hover:#161B27;
  //  --sidenav-text-hover-after: rgba(0,0,0,0.2);
  //  --sidenav-primary: #0178e5;
  //  //  Notification
  //  --border-bottom-dark:1px solid rgba(0,0,0,0.1);
  //  --not-danger-hover:#FFF6F7;
  //  --not-success-hover:#F0F8F3;
  //  --not-primary-hover:#E4EBF7;
  //  --notfication-border:rgba(0,0,0,0.04);
  //  --header-link-background:#fff;
  //
  //  //  Profile
  //  --hr: rgba(0,0,0,0.2);
  //  --dropdown-hover: rgba(38,60,85,.06);
  //  --dropdown-hover-color:#0178e5;
  //  //  Tables
  //  --r-table-odd:#fff;
  //  --r-table-even:#f8f8f8;
  //  --r-table-border:#ddd;
  //  --ant-table-th-background:#646c7c;
  //  --ant-table-action:#DEDEDE;
  //  --pagination-background:white;
  //  --nested-table-th-background:#f8f8f8;
  //  --ant-table-sorter:#485060;
  //
  //  //  Category Tables
  //  --cat-table-background:#646c7c;
  //
  //  //  Fields
  //  --field-label-color:#4D5464;
  //  --field-placeholder-color:#646C7C;
  //  --field-color:#646C7C;
  //  --field-border-color:#DEDEDE;
  //  //  Tabs
  //  --tabs-border-line:#f0f0f0;
  //
  ////  Ant Time pciker
  //  --timepicker-disabled-background:#f5f5f5;
  //  --timepicker-disabled-color: rgba(0, 0, 0, 0.25);
  //
  //  //  Select
  //  --select-multi-tag-background:#f5f5f5;
  //  --select-multi-tag-border:#f0f0f0;
  //}
  //[data-theme='dark'] {
  //  --background: #1C212D;
  //  --text-color-white: #333;
  //  --text-color-dark: #fff;
  //  --background-smoke:#1C212D;
  //  --background-layouts:#1C212D;
  //  --text-color-greyblue:#a1b0cb;
  //  --logo-text:#1C212D;
  //
  //  //Font
  //  --bs-body-font-family: 'Source Sans Pro';
  //  --header-heading:white;
  //  --tab-heading-colors:white;
  //  --theme-grey-text: #a1b0cb;
  //  --theme-grey-text-white:#fff;
  //  --theme-label-color:#4D5464;
  //  --theme-silver-text:#DEDEDE;
  //
  //  //Borders
  //  --theme-border:#36445d;
  //  --theme-border-light:#283144;
  //  --ant-table-border:#36445d;
  //  --ant-table-td-border: #DEDEDE;
  //  --ant-table-tr-hover:#1C212D;
  //  --nested-table-td-border:rgba(0,0,0,0.08);
  //  --modal-border:#36445d;
  //
  //  //Box Shadows
  //  --theme-shadow:rgba(0,0,0,0.3);
  //
  //  //View Card
  //  --view-card-background:#283144;
  //  --view-card-border: #36445d;
  //  //    Sidenav
  //  --sidenav-color :#131517;
  //  --sidenav-text-hover:#1d2024;
  //  --sidenav-text-hover-after: rgba(245,245,245,0.9);
  //
  //  //  Notification
  //  --border-bottom-dark:1px solid rgba(255,255,255,0.1);
  //  --not-danger-hover:rgba(99,123,169,.08);
  //  --not-success-hover:rgba(99,123,169,.08);
  //  --not-primary-hover:rgba(99,123,169,.08);
  //  --notfication-border:rgba(255,255,255,0.04);
  //  --header-link-background:#283144;
  //  //  Profile
  //  --hr: rgba(255,255,255,0.2);
  //  --dropdown-hover: rgba(99,123,169,.08);
  //  --dropdown-hover-color:#fff;
  //
  //  //  Tables
  //  --r-table-odd:#283144;
  //  --r-table-even:#1C212D;
  //  --r-table-border:#36445d;
  //  --ant-table-th-background:transparent;
  //  --ant-table-action:#dedede;
  //  --pagination-background:transparent;
  //  --nested-table-th-background:#36445d;
  //  --ant-table-sorter:#1a2438;
  //
  //  //  Fields
  //  --field-label-color:#a1b0cb;
  //  --field-placeholder-color:#a1b0cb;
  //  --field-color:#a1b0cb;
  //  --field-border-color:#546990;
  //
  //  //  Tabs
  //  --tabs-border-line:#546990;
  //
  //  //  Ant Time pciker
  //  --timepicker-disabled-background:#232d3f;
  //  --timepicker-disabled-color: rgba(255, 255, 255, 0.35);
  //
  ////  Select
  //  --select-multi-tag-background:#1a2438;
  //  --select-multi-tag-border:#1a2438;
}